.table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table__container {
    overflow-x: auto;
}

.table__caption {
    background-color: #e94545;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 50px;
}

.table__row:nth-child(even) {
    background-color: whitesmoke;
}

.table__cell {
    border: 1px solid white;
    padding: 20px;
    text-align: center;
}

.table__header {
    color: gold;
    background-color: black;
    font-weight: normal;
}